@font-face {
  font-family: "Roboto";
  src: url("./roboto_regular.woff2") format("woff2"),
       url("./roboto_regular.woff") format("woff"),
       url("./roboto_regular.ttf") format("truetype"),
       url("./roboto_regular.eot") format("eot");
       font-weight: 400;
}

@font-face {
font-family: "Roboto";
src: url("./roboto_thin.woff2") format("woff2"),
     url("./roboto_thin.woff") format("woff"),
     url("./roboto_thin.ttf") format("truetype"),
     url("./roboto_thin.eot") format("eot");
     font-weight: 100;
}